.container {
  width: 100%;
  margin-bottom: 1.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.scrollArea {
  display: flex;
  gap: 0.8rem;
  overflow-x: auto;
  padding-bottom: 0.5rem;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scrollArea::-webkit-scrollbar {
  display: none;
}

.pill {
  background-color: transparent;
  color: #aaa;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 50px;
  padding: 0.6rem 1.5rem;
  font-size: 0.9rem;
  font-weight: 600;
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.2s ease;
}

.pill:hover {
  border-color: rgba(255, 255, 255, 0.5);
  color: white;
}

.pill.active {
  /* COR DINÂMICA */
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

@media (max-width: 600px),
(max-width: 932px) and (orientation: landscape) {
  .container {
    margin-bottom: 0.8rem;
    padding-bottom: 0.2rem;
  }

  .scrollArea {
    gap: 0.4rem;
    padding-bottom: 0.2rem;
  }

  .pill {
    padding: 0.3rem 0.8rem;
    font-size: 0.7rem;
    border-radius: 20px;
    border-width: 1px;
  }

  .pill.active {
    box-shadow: none;
  }
}