.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    z-index: 99999;
    /* Deve ficar acima de tudo */
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.fadeIn {
    opacity: 1;
    animation: fadeIn 0.5s forwards;
}

.fadeOut {
    opacity: 0;
    animation: fadeOut 0.5s forwards;
    pointer-events: none;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.swiper {
    width: 100%;
    height: 100%;
}

.slideContainer {
    width: 100%;
    height: 100%;
    position: relative;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.tapToExit {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    background: rgba(0, 0, 0, 0.5);
    padding: 0.5rem 1.5rem;
    border-radius: 20px;
    font-size: 1rem;
    pointer-events: none;
    /* Deixa o clique passar para o overlay */
    z-index: 10;
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        opacity: 0.5;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.5;
    }
}