.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: var(--background-dark);
}

.main {
  display: flex;
  flex: 1; /* Ocupa todo o espaço restante */
  overflow: hidden; /* Evita que o conteúdo principal cause scroll na página inteira */
}

.contentArea {
  flex: 1; /* Ocupa o restante do espaço horizontal */
  padding: 2rem;
  overflow-y: auto; /* Conteúdo dos produtos será rolável */
}