:root {
  /* Valores padrão (caso a API demore ou falhe) */
  --primary-color: #df0024;       /* Cor Principal (Botões, Destaques) */
  --background-color: #1f1c1d;    /* Cor de Fundo (Body) */
  
  /* Cores derivadas (opcional, para textos sobre fundo escuro/claro) */
  --text-color: #ffffff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  /* Usando as variáveis */
  background-color: var(--background-color); 
  color: var(--text-color); 
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  
  /* Transição suave ao mudar de tema */
  transition: background-color 0.5s ease, color 0.5s ease;
}

a {
  color: inherit;
  text-decoration: none;
}