.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #1f1c1d; /* Fundo escuro padrão */
  padding: 2rem;
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  max-width: 800px;
}

.title {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  color: white;
}

.subtitle {
  font-size: 1.2rem;
  font-weight: 400;
  color: #aaa;
  margin-bottom: 4rem;
}

.flagsContainer {
  display: flex;
  gap: 3rem;
  justify-content: center;
  flex-wrap: wrap;
}

.flagCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  cursor: pointer;
  border-radius: 20px;
  padding: 2rem;
  background-color: #2a2a2a;
  transition: transform 0.2s ease-in-out, background-color 0.2s;
  width: 220px;
}

.flagCard:hover {
  transform: scale(1.05);
  background-color: #333;
  border: 2px solid #df0024; /* Destaque vermelho ao passar o mouse */
}

.imageWrapper {
  position: relative;
  width: 120px;
  height: 80px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

.languageName {
  font-size: 1.4rem;
  font-weight: 600;
  color: white;
}